:root{
    --clrBack: #2D3047;
    --clrFront: #4DA1A9;
    --clrTrim: #E0CA3C;
}

header{
    display: flex;
    background-color: var(--clrBack);
    color: var(--clrFront);
    height: 150px;
    justify-content: space-between;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.336);
}

header div{
    margin: 50px;
    margin-top: 30px;
}

.highMid{
    font-size: 45px;
    margin-top: 50px;
}

.highLeft button{
    border-color: var(--clrBack);
    width: 180px;
    height: 80px;
    background-color: #4DA1A9;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    transition: 0.25s;
}

.highLeft button:hover{
    background-color: var(--clrTrim);
    transition: 0.5s;
}

.highLeft button:active{
    filter: brightness(50%);
    transition: 0.1s;
}

.highRight{
    font-size: 30px;
    text-align: center;
}

.highRight h1{
    font-size: 60px;
}

.penalty{
    color: red;
}

article{
    border: 5px solid var(--clrBack);
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.336);
}

article h1{
    font-size: 50px;
    color: var(--clrFront);
    margin-bottom: 20px;
}

#Score ul{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

#Score li{
    font-size: 30px;
    margin: 10px;
    text-align: left;
    color: var(--clrBack);
}

article hr{
    border-top: 3px solid var(--clrTrim);
    margin-bottom: 20px;
}

#Question button{
    border-color: var(--clrBack);
    width: 100%;
    background-color: #4DA1A9;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    transition: 0.25s;
    padding: 5px;
    margin-top: 20px;
}

#Question button:hover{
    background-color: var(--clrTrim);
    transition: 0.5s;
}

#Question button:active{
    filter: brightness(50%);
    transition: 0.1s;
}

article button{
    border-color: var(--clrBack);
    width: 52%;
    height: 100px;
    background-color: #4DA1A9;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    transition: 0.25s;
    margin-top: 20px;
}

article button:hover{
    background-color: var(--clrTrim);
    transition: 0.5s;
}

article button:active{
    filter: brightness(50%);
    transition: 0.1s;
}

article h2 {
    margin-top: 20px;
    font-size: 35px;
    color: var(--clrBack);
}

article h3 {
    margin-top: 10px;
    color: rgb(180, 0, 0);
    display: none;
}

article p{
    margin: 5px;
    color: var(--clrBack);
}

#End input{
    width: 300px;
    height: 50px;
    margin-top: 10px;
    padding: 20px;
}


#Begin{
    display: none;
}

#Score{
    display: none;
}

#Question{
    display: none;
}

#End{
    display: none;
}


@media only screen and (max-width: 1070px) {
    .highMid{
      display: none;
    }
  }